DATABASE_URL=database_uri
PORT=5000
WEB_SERVER_PORT=8444

JWT_SECRET_KEY=jwt_secrete_key
NODE_ENV=development

JWT_ACCESS_EXPIRATION_MINUTES=20d

JWT_REFRESH_EXPIRATION_DAYS=20d

JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10

JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

SMTP_HOST=smtp.gmail.com

SMTP_PORT=587

contact_us_email=contact_mail

SENDGRID_API_KEY=sendgrid_api_key

FROM_EMAIL=your_from_mail

EMAIL_FROM=your_mail_from

SMTP_USERNAME=smtp_username

SMTP_PASSWORD=smtp_password



ADMIN_EMAIL=admin_email
ADMIN_PASSWORD=admin_password

ADMIN_EMAIL_TWO=admin@gmail.com
ADMIN_PASSWORD_TWO=1qazxsw2


Nodemailer_GMAIL=app_email
Nodemailer_GMAIL_PASSWORD=app_password

SUPPORT_EMAIL=support_email
SUPPORT_PHONE=support_phone

 
UPLOAD_FOLDER=public/uploads
max_file_size=5242880
AWS_ACCESS_KEY_ID=aws_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_key
AWS_BUCKET_NAME=aws_bucket_name
AWS_REGION=aws_region
  
# auth secrete 
 
BACKEND_IP=localhost

# Stripe Secret Key
STRIPE_SECRET_KEY=your_stripe_secrete_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secrete

REDIS_URL=redis://localhost:6060