DATABASE_URL=your_mongodb_datebase
PORT=5000 
NODE_ENV=development


JWT_SECRET_KEY=72b6597c9a137bbe5e36862c592e90a5c88652494f37d6da57894888763d49cd
JWT_ACCESS_TOKEN_EXPIRESIN=7d
JWT_REFRESH_TOKEN_EXPIRESIN=20d 


CONTACT_MAIL=contact_mail
 
ADMIN_EMAIL=admin_email
ADMIN_PASSWORD=admin_password

ADMIN_EMAIL_TWO=admin_two_email
ADMIN_PASSWORD_TWO=admin_two_password


NODEMAILER_GMAIL=app_email
NODEMAILER_PASSWORD=app_password

SUPPORT_EMAIL=your_support_mail
SUPPORT_PHONE=your_support_contact_number
 
UPLOAD_FOLDER=public/uploads
MAX_FILE_SIZE=5242880 
AWS_ACCESS_KEY_ID=aws_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_key
AWS_BUCKET_NAME=aws_bucket_name
AWS_REGION=aws_region


# cloudinary
CLOUDINARY_API_KEY = your_cloudinary_api_key 
CLOUDINARY_NAME = your_cloudinary_name
CLOUDINARY_API_SECRET = your_cloudinary_api_secrete;

  
# auth secrete 
 
REDIS_URL=redis://localhost:6060