node_modules
/public
/logs
distuploads/
config.bat

/dist
/uploads
/temp_files
temp_auto_push.bat
/logs
/logs/errors
/.idea  


# Environment files
!.env.example
!.env*.example
.vercel
.gitignore
branch_structure.json
